.my-dropdown-link {
   color: rgb(255, 0, 144);
  
}

.anc {
  color: white;
}
/* .toggleMenu{
padding-left: 30px;
} */

body {
  margin: 0;
}

.head {
  color: rgb(132, 0, 255);
  margin: 10px;

}

.para {
  color: black;
  margin: 10px;
}


.textOverIcon {
  font-size: medium;
  background-image: url(./../img/image/6.jpg);
  background-repeat: no-repeat;
  width: 200px;
  height: 140px;
  opacity: 1;

}

.contact-number {
  color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: left;
}

/* * {
  box-sizing: border-box;
} */

.column {
  float: left;
  padding: 8px;
}

/* Left and right column */
.column.side {
   /* background-image: url(./../../../Trainer/image/background4.jfif); 
  background-repeat:no-repeat ; */
  width: 20%;height:
  margin:4px;
}

.leftImage {
  width: 293px;
  height: 300px;
  margin: 6px;

}
.leftImage:hover{
-webkit-transform: scaleX(-1);
transform: scaleX(-1);}

.column.middle {
  background-image: url(./../../../Trainer/image/background3.jfif);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 59%;

}

.column side {
  background-image: url(./../../../Trainer/image/background4.jfif);
}



#heading {
  font-family: Arial;
  padding: 8px;
  text-align: right;
  background-color: rgb(100, 95, 160);
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {

  .column.side,
  .column.middle {
    width: 100%;
  }
}

.footer {
  background-image: url(./../../../Trainer/image/background2.jpg);
  max-width: 100%;
  height: 500px;
  padding: 10px;

}

.footerLeftColumn {
  float: left;
  width: 33.33px;
  padding: 0px;
}

.footerSecondColumn {
  float: left;
  width: 33.33%;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.blink{
  animation:blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}

/* img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */