div{
    border: 5px solid black;
    width: 500px;
    padding: 10px;
    margin: 60px;
    outline-style: dashed; 
    outline-width: 5px;
    outline-color: rgb(175, 175, 248);
    outline-offset: 5px;
 }
 img{
    width: 500px;
}
    
