div {
  height: 200px;
  /* width: 500%;    */ /*   it will scroll bar at the bottom for left to right*/
  /* width: 5000px; */
  max-width: 50000px;
  /* min-width: 1000px; */
  background-color: powderblue;
}
/* 
h1{
  font-size: 152px;
} */

.css {
  color: red;
}
