/* #div1{

      border: 10px double palevioletred;
      margin-top: 500px;


     } */
.iframeSection{
    color: black;
    text-align: center;
    font-size: 30px;
    text-shadow: 8px 7px 2px rgb(170, 227, 176);

}

.iframeBlock {

    background-image:url(./../image/Screenshot\ \(28\).png);
    border: 20px solid rgb(5, 50, 10);
    margin:70px;
    padding: 30px;
    background: size 1px;;
    box-shadow: 20px 20px 10px rgb(237, 9, 9);
    /* box-shadow: 1px 2px 10 rebeccapurple; */

    
}

.bodyImage {
    background-image: url('./../image/sylwia-bartyzel-eU4pipU_8HA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

