/* Reseting in css */
h1{
  /* padding: 0px;
  margin: 0px; */
  background-color: red;
}

/* NORMALIZE :- bydefault value*/


/* DOM  :- Document object Model
POM   :-  PAGE OBJECT MODEL
WOM   :-    WINDOW OBJECT MODEL

Source Code
*/


