pre{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-image: url(./../../../Trainer/image/background1.jfif) ;
    background-repeat: no-repeat;
    width:100%;
}