body{
    padding:0;
    padding-top:3px;
    margin:0;
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table th{
    color:white;
    width: 400px;
    border:2px solid pink;
    padding:20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
table td{
    color:black;
    padding:20px;
    text-align: center;
    font-size:16.2px;
    font-weight:bold;
}
table{
    border-spacing:0;
}