
img{
    width:290px;
    height:140px;
    border:3px solid white;
    padding-top:2px;
    transition: 0.5s;
    
}
.container{
   margin-left:70px;
   margin-top:10px;  
}
 img:hover{
  transform: translate(-y);
 }