/* simple selector */

/*css using tag name */
h1 {
  text-shadow: 2px 2px 1px red;
  color: white;
}
/* tag name */

p {
  border: 2px solid;
  background-color: aqua;
  text-shadow: 2px 2px 1px pink;
}

/* class name */
.head2 {
  font-size: 25px;
}

/* id name */
#head4 {
  background-color: aquamarine;
}


/* h1 {
  color: red;
  background-image: url("./../../image/3.jpg");
}


.head2 {
  color: red;
  background-image: url("./../../image/3.jpg");
} */


/* grouping name */
#head4,
.head2,
p,
h1 {
  color: red;
  background-image: url("./../../image/3.jpg");
}




